.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
  height: 300px;
  overflow: hidden;
  margin: 20px;
}

.imgWrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.img {
  height: 100%;
}

.mainInfo {
  margin: 10px auto;
}

.title {
  font-size: 22px;
  text-align: center;
}

.paragraph {
  display: flex;
  gap: 20px;
}
