.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
  height: 450px;
  overflow: hidden;
  margin: 20px;
}

.imgWrapper {
  width: 100%;
}

.img {
  width: 100%;
}

.name,
.mainInfo {
  padding: 0 5px;
}

.description {
  overflow-y: scroll;
  padding: 0 5px;
  text-align: justify;
  font-style: italic;
}
