.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper {
  position: absolute;
  width: 50%;
  max-width: 500px;
  min-width: 250px;
  height: 50%;
  max-height: 500px;
  min-height: 250px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  margin: 4px;
  padding: 0 7px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
}

.imgWrapper {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.name,
.url {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name,
.mainInfo {
  padding: 0 5px;
}
