.list {
  display: flex;
  font-size: 22px;
}

.item:active,
.item:hover,
.item {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.active:active,
.active:hover,
.active {
  text-decoration: none;
  color: green;
  padding: 10px;
}
